.slider {
  padding: 0px;
  overflow-y: visible;
  position: relative;
}

.eventwrapper {
  height: 100%; /* required for slider height to fill container until we use flex */
  position: relative;
}

.eventwrapper:hover {
  cursor: pointer;
}
